<div id="content">
  <div id="innercontent">
    <h2>Home of the Pfannkuchenfraggers</h2>

    <p>This used to be the home of <strong>Pfannkuchenfragger</strong>, a Quake III Arena clan that was active back in the days when 384MB of RAM was plenty.</p>

    <div class="shots">
      <div class="screenshot">
        <figure class="image thumbnail"><a href="/images/2on2.tga.jpg"><%= image_tag 'thumbnail_2on2.tga.jpg', class: 'thumbnail' %></a></figure>
      </div>
      <div class="screenshot">
        <figure class="image thumbnail"><a href="/images/shot0001.2.jpg"><%= image_tag 'thumbnail_shot0001.2.jpg', class: 'thumbnail' %></a></figure>
      </div>
      <div class="screenshot">
        <figure class="image thumbnail"><a href="/images/shot0003.jpg"><%= image_tag 'thumbnail_shot0003.jpg', class: 'thumbnail' %></a></figure>
      </div>
      <div class="screenshot">
        <figure class="image thumbnail"><a href="/images/finger.jpg"><%= image_tag 'thumbnail_finger.jpg', class: 'thumbnail' %></a></figure>
      </div>
      <div class="screenshot">
        <figure class="image thumbnail"><a href="/images/shot0015.tga.jpg"><%= image_tag 'thumbnail_shot0015.tga.jpg', class: 'thumbnail' %></a></figure>
      </div>
    </div>

  </div>
</div>

